@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic);

body {
    overflow-x: hidden;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: #575455;
    font-size: 10px;
    background-color: #0c0c0c;
    position: absolute;
    width: 100%;
    height: 100%;
}

hr{
    border-color: #ac9315;
}
.no-gutter > [class*=col-], .no-gutter > .container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.container{
    width: 90%;
    max-width: 1170px;
}
.text-muted {
    color: #777
}
.text-italic{
    font-style: italic;
}
.text-

.text-primary {
    color: #fed201
}
.text-center{
    text-align: center;
}

.line{
    width: 50px;
    height: 2px;
    background-color: #575455;
    margin: 0 auto;
}
.vertical-center{
    position: relative;
    top: 50%;
    transform:translate(0,-50%);
    padding: 0 15px;
}
p {
    font-size: 13px;
    line-height: 1.5;
    font-weight: 500;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

p.large {
    font-size: 16px
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0
}

a {
    color: #fed201
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'roboto', helveTica, ariaL, sans-serif;
    font-weight: 700;
}

.border-top{
    width: 100%;
    height: 30px;
    left: 0;
    top: 0;
    background-color: #0c0c0c;
    z-index: 2000;
    display: none;
    position: fixed;
}
.border-bottom{
    width: 100%;
    height: 30px;
    left: 0;
    bottom: 0;
    background-color: #0c0c0c;
    z-index: 2000;
    display: none;
    position: fixed;
}
.img-centered {
    margin: 0 auto
}
.img-rounded {
    border-radius: 50%;
}

.bg-white{
    background-color: #fff;
}
.bg-light{
    background-color: #e5e6d8;
}
.bg-light-gray {
    background-color: #f7f7f7
}
.bg-dark-grey {
    background-color: #e5e6d8;
}
.bg-pattern{
    background-image: image-url('lines.png');
    background-repeat: none;
    background-attachment: scroll;
    background-position: top center;
}

.revealonscroll {
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s, opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s;
  -webkit-transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s, opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s;
  opacity: 0;
  transform: translate(0px, 50px);
}

.revealonscroll.animated {
  opacity: 1;
  transform: translate(0px, 0px);
}

.btn-primary {
    color: #000 !important;
    background-color: #fed201;
    border-color: #fed201;
    font-family: 'roboto', helveTica, ariaL, sans-serif;
    text-transform: uppercase;
    font-weight: 400 !important;
    padding: 10px 20px !important;
    letter-spacing: 0 !important;
    -webkit-transition: all .4s cubic-bezier(.25,.1,.25,1);
    -moz-transition: all .4s cubic-bezier(.25,.1,.25,1);
    -ms-transition: all .4s cubic-bezier(.25,.1,.25,1);
    -o-transition: all .4s cubic-bezier(.25,.1,.25,1);
    transition: all .4s cubic-bezier(.25,.1,.25,1);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #000 !important;
    background-color: #ffd925 !important;
    border-color: #ffd925 !important;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #fed201;
    border-color: #fed201
}
a.btn-primary::after, a.btn-primary:hover::after{
  content: none !important;
}

.btn-primary .badge {
    color: #fed201;
    background-color: #fff
}

.btn-xl {
    color: #fff;
    background-color: #fed201;
    border-color: #fed201;
    font-family: 'roboto', helveTica, ariaL, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 16px;
    padding: 20px 40px
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}
.btn-xl-invert {
    color: #fed201;
    background-color: #fff;
    border-color: #fff;
    font-family: 'roboto', helveTica, ariaL, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 16px;
    padding: 20px 40px
}

.btn-xl-invert:hover,
.btn-xl-invert:focus,
.btn-xl-invert:active,
.btn-xl-invert.active,
.open .dropdown-toggle.btn-xl-invert {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    background-color: #fed201;
    border-color: #fed201
}

.btn-xl .badge {
    color: #fed201;
    background-color: #fff
}

.navbar-default {
    background-color: #fed201;
    border-color: transparent;
    .container-fluid{
        margin:0;
    }
}
.navbar-right{
    li{
        float: right !important;
    }
}

.navbar-default .navbar-brand {
    float: left;
    font-size: 18px;
    height: 40px;
    line-height: 20px;
    margin: 5px 15px !important;
    padding: 0;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fff
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02)
}

.navbar-default .navbar-toggle {
    background-color: #fed201;
    border-color: #fed201
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fed201
}

.navbar-default .nav li a {
    font-family: 'roboto condensed', helveTica, ariaL, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
    font-size: 1em;
}

.navbar-nav > li{
    text-align: center;
}
.nav > li > a{
    margin: 0 15px;
    padding: 10px 0 5px 0;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #fff;
    outline: 0;
    background-color: transparent;
}
.navbar-default .nav > li > a::after {
    background-color: #1c1c1c;
    bottom: 0px;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    -webkit-transition: all .4s cubic-bezier(.25,.1,.25,1);
    -moz-transition: all .4s cubic-bezier(.25,.1,.25,1);
    -ms-transition: all .4s cubic-bezier(.25,.1,.25,1);
    -o-transition: all .4s cubic-bezier(.25,.1,.25,1);
    transition: all .4s cubic-bezier(.25,.1,.25,1);
    width: 0;
}
.navbar-default .nav li a:hover::after,
.navbar-default .nav li a:focus::after {
    width: 100%;
}

.navbar-default .navbar-nav>.active>a {
    background-color: transparent;
    color: #fec503;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
}

@media (min-width:768px) {
    .navbar-default .navbar-brand {
      margin: 0 0 0 60px !important;
    }
    .border-top, .border-bottom{
        display: block;
    }
    body{
        font-size: 16px;
        margin:0;
    }
    aside.clients {
    }
    .navbar-default {
        background-color: #212121;
        padding: 16px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0;
        height: 74px;
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px
    }
    .navbar-default.navbar-shrink {
        background-color: #1c1c1c;
        border-bottom: 30px solid #0c0c0c;
        padding: 10px 0;
        .nav li a{
            color: #fff;
        }
    }
    .navbar-default .nav > li > a::after {
        background-color: #fff;
        bottom: 0px;
        content: "";
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        transition: all 0.2s ease 0s;
        width: 0;
    }
    .navbar-default .nav li a:hover::after,
    .navbar-default .nav li a:focus::after {
        width: 100%;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em
    }
}

header {
    background-color: rgba(253,210,1,0.4);
    background-image: image-url('lines.png');
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
    height: calc(100vh - 74px);
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: left;
}

header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px
}

header .intro-text .intro-heading {
    font-family: 'roboto', helveTica, ariaL, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 25px
}

@media (min-width:768px) {
    header{
        margin-top: 74px;
    }
    header .intro-text {
        padding-top: 175px;
        padding-bottom: 175px
    }
    header .intro-text .intro-lead-in {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px
    }
    header .intro-text .intro-heading {
        font-family: 'roboto', helveTica, ariaL, sans-serif;
        font-weight: 700;
        font-size: 68px;
        line-height: 68px;
        margin-bottom: 50px
    }
}

section {
    padding: 30px 0;
}
/* Courses */

.panel-group{
    margin-top: 60px;
}
.panel-group .panel{
    border-radius: 5px;
    border:none;
}
.panel-group .panel + .panel {
    margin-top: 15px;
}
.panel-default{
    background-color: #eccb25;
}
.panel-default:hover{
  background-color: #ffd925;
  -webkit-transition: all .4s cubic-bezier(.25,.1,.25,1);
  -moz-transition: all .4s cubic-bezier(.25,.1,.25,1);
  -ms-transition: all .4s cubic-bezier(.25,.1,.25,1);
  -o-transition: all .4s cubic-bezier(.25,.1,.25,1);
  transition: all .4s cubic-bezier(.25,.1,.25,1);
}
.panel-default > .panel-heading{
    background-color: transparent;
    border: none;
    color: #212121;
    text-transform: uppercase;
    padding: 26px 30px 18px 30px;
    .panel-title {
        font-family: 'roboto condensed', helveTica, ariaL, sans-serif;
        color: inherit;
        font-size: 1.313em;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 400;
        span{
            font-weight: 300;
        }
    }
}

.course-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 240px;
  width: 100%;
}
.panel-body{
    padding: 25px 30px;
    font-size: 1.308em;
    font-family: 'roboto', helveTica, ariaL, sans-serif;
    font-weight: 300;
    line-height: 1.25;
    border: none !important;
    .btn{
        margin-top: 20px;
    }
    .course-description p{
        font-family: 'roboto', helveTica, ariaL, sans-serif;
        color: #212121;
        font-weight: 300;
        font-size: 1em;
        text-align: justify;
    }
    .course-description h4 {
        margin-bottom: 5px;
        text-transform: uppercase;
        font-family: 'roboto condensed', helveTica, ariaL, sans-serif;
        color: #212121;
        font-weight: 300;
    }
}
.panel-heading{
    a, a:hover, a:focus, a:active, a.active{
        color: #212121;
        text-decoration: none;
    }
}


/* Sections */

.layer{
    
}
.layer img{
    width: 100%;
    height: auto;
    margin-top: -225px;
}
section .section-img{
    width: 100%;
    height: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 30px 0;
}
section .section-box{
    margin-bottom: 30px;
}
section .section-box:last-child{
    margin-bottom: 0px;
}

section h1.section-heading {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 300;
    color: #eccb25;
}
section h2.section-subheading {
    font-size: 3.750em;
    margin-top: 0;
    line-height: 1.25;
    font-weight: 300;
    color: #575455;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

section h3.section-subheading {
    font-size: 1.5em;
    text-transform: none;
    font-weight: 300;
    text-align: center;
    line-height: 1.25;
    color: #575455;
    letter-spacing: 1px;
    margin-top: 30px;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

@media (min-width:768px) {
    section {
        padding: 100px 0;
    }
    section.small-padding{
        padding: 75px;
    }
    section h1.section-heading{
        font-size: 
        3.750em;
    }
    section .section-box{
        margin-bottom: 90px;
    }
    section .section-img{
        margin: 0;
    }
    section h3.section-subheading {
        font-size: 1.2em;
    }
    .panel-body{
      .course-description p{
        font-size: .75em;
      }
    }
}


.service-heading {
    margin: 15px 0;
    text-transform: none
}


.team-member {
    text-align: center;
    margin-bottom: 50px
}

.professor{
    img {
        margin: 0 auto;
        width: 100%;
    }
    h4 {
        margin-bottom: 5px;
        text-transform: uppercase;
        font-family: 'roboto condensed', helveTica, ariaL, sans-serif;
        color: #212121;
        font-weight: 300;
    }
    p {
        margin-top: 5px;
        font-family: 'roboto', helveTica, ariaL, sans-serif;
        color: #212121;
        font-weight: 300;
    }
}
.professor-accessibility{
    border-left:1px solid #ac9315;
    border-right:1px solid #ac9315;
    padding: 0 15px;
    a, a:hover, a:focus, a:active, a.active{
        color: #212121;
        margin: 0 5px;
    }
}
.professor-city{
    padding: 0 15px;
    p{
        margin-top: 1px;
    }
}
.panel-toggle{
    margin-left: 15px;
}


aside.clients img {
    margin: 50px auto;
}

section#about{
    text-align: center;
    h3.section-subheading{
        color: #fed201;
        text-transform: uppercase;
        font-family: 'roboto condensed', helveTica, ariaL, sans-serif;
    }
    p{
        color: #b9b9b9;
        font-size: 20px;
        font-family: 'roboto', helveTica, ariaL, sans-serif;
        font-weight: 200;
        letter-spacing: 0.01em;
        line-height: 1.25;
        margin-top: 15px;
    }
}
section#contact {
    background-position: center;
    background-repeat: no-repeat;
    h3{
        font-family: 'roboto', helveTica, ariaL, sans-serif;
        font-size: 2.250em;
        margin-top: 0;
        font-weight: 300;
    }
    h4{
        font-size: 1em;
        text-transform: none;
        font-weight: 300;
        line-height: 1.25;
        color: #575455;
        letter-spacing: 1px;
        margin-top: 0px;
        font-smoothing: antialiased;
        -webkit-font-smoothing: antialiased;
    }
    h1.section-heading{
        margin-bottom: 45px;
    }
}

section#contact .section-heading {
    color: #000;
}

section#contact .form-group {
    margin-bottom: 25px
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 10px 0;
    border-radius: 0px;
    border:0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    box-shadow: none;
    font-size: 1em;
    font-family: 'roboto', helveTica, ariaL, sans-serif;
    font-weight: 300;
}

section#contact .form-group input.form-control {
    height: auto
}

section#contact .form-group textarea.form-control {
    height: 236px
}

section#contact .form-control:focus {
    border-color: #212121;
    box-shadow: none
}

section#contact::-webkit-input-placeholder {
    font-family: 'roboto', helveTica, ariaL, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

section#contact:-moz-placeholder {
    font-family: 'roboto', helveTica, ariaL, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

section#contact::-moz-placeholder {
    font-family: 'roboto', helveTica, ariaL, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

section#contact:-ms-input-placeholder {
    font-family: 'roboto', helveTica, ariaL, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

section#contact .text-danger {
    color: #e74c3c
}

footer {
    background-color: #575455;
    padding: 25px 0;
    color: #fff;
    .footer-wrap{
        padding:30px 60px;
    }
    a.footer-link{
        color: #fff;
        font-weight: 300;
        font-family: 'roboto', helveTica, ariaL, sans-serif;
        font-size: 13px;
        line-height: 1.5;
        font-smoothing: antialiased;
        -webkit-font-smoothing: antialiased;
        border-top: 1px solid #fff;
        padding: 10px 0;
        display: block;
    }
    a.footer-link:hover{
        text-decoration: none;
        color: #ccc;
    }
    input, button {
        border: 1px solid #fff;
        float: left;
        background-color: transparent;
        padding: 7.5px 15px;
        font-family: 'roboto', helveTica, ariaL, sans-serif;
        font-weight: 100;
        font-size: .75em;
    }
    input:not(#submit) {
        width: 60%;
    }
    #submit {
        max-width: 110px;
        width: 40%;
        text-transform: uppercase;
        margin-left: -1px;
    }
    a.arrow-up{
        margin-top: 30px;
        display: block;
    }
    p{
        margin-top: 30px;
        font-weight: 300;
    }
}

footer span.copyright {
    line-height: 40px;
    font-family: 'roboto', helveTica, ariaL, sans-serif;
    text-transform: uppercase;
    text-transform: none
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: 'roboto', helveTica, ariaL, sans-serif;
    text-transform: uppercase;
    text-transform: none
}

ul.social-buttons {
    margin-bottom: 0;
    margin-top: 5px;
}

ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    font-size: 1em;
    line-height: 35px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .4s cubic-bezier(.25,.1,.25,1);
    -moz-transition: all .4s cubic-bezier(.25,.1,.25,1);
    -ms-transition: all .4s cubic-bezier(.25,.1,.25,1);
    -o-transition: all .4s cubic-bezier(.25,.1,.25,1);
    transition: all .4s cubic-bezier(.25,.1,.25,1);
    text-align: center;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed201
}

.btn{
    border-radius: 0px;
    -webkit-transition: all .4s cubic-bezier(.25,.1,.25,1);
    -moz-transition: all .4s cubic-bezier(.25,.1,.25,1);
    -ms-transition: all .4s cubic-bezier(.25,.1,.25,1);
    -o-transition: all .4s cubic-bezier(.25,.1,.25,1);
    transition: all .4s cubic-bezier(.25,.1,.25,1);
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0
}
.btn-default, section#contact .form-group input.btn-default{
    background-color: #212121;
    border:none;
    color: #fff;
    padding: 10px 16px;
    text-transform: uppercase;
    font-family: 'roboto condensed', helveTica, ariaL, sans-serif;
}
.btn-default:hover {
    color: #fff;
    background-color: #414141;
    border-color: #414141;
}


/* Modal */

.modal-content{
    border-radius: 0px;
    .modal-header{
        padding: 30px;
        h3{
            margin: 0;
            text-transform: uppercase;
            font-family: 'roboto condensed', helveTica, ariaL, sans-serif;
            color: #212121;
            font-weight: 200;
        }
    }
    .modal-body{
        padding: 30px;
    }
    .form-control{
        border-radius: 0px;
    }
    label{
        font-family: 'roboto condensed', helveTica, ariaL, sans-serif;
        font-weight: 400 !important;
        text-transform: uppercase;
    }
    .btn{
        width: 100%;
        font-family: 'roboto condensed', helveTica, ariaL, sans-serif;
        font-weight: 400 !important;
        text-transform: uppercase;
    }
}
.select2-container--bootstrap .select2-selection{
    border-radius: 0px;
}
.no-margin{
    margin: 0 !important;
}

::-moz-selection {
    text-shadow: none;
    background: #fed201
}

::selection {
    text-shadow: none;
    background: #fed201
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}
img.biglogo{
  width: 100%;
  height: auto;
}

body {
    webkit-tap-highlight-color: #fed201
}

a.noise{
    color: #fff;
    font-weight: 300;
    font-family: 'roboto', helveTica, ariaL, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}
a.noise:hover{
    text-decoration: none;
    color: #ccc;
}
